<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


</head>
<body>
<center>
<h1>电商</h1>
    {% if check != 'True' %}
            <a href='/login'><span>登录</span></a>
            <a href='/register'><span>注册</span></a>
    {% endif %}
    {% if check == 'True' %}
        <a href="/search/">搜索商品</a>
            <a href="/logout/">登出</a>
            <a href="/image/">头像上传</a>
            <a href="/history/">盲盒记录</a>
            <a href="/suiji/">随机盲盒</a>
            <a href="/put/">放置盲盒</a>
            <a href="/myinformation/">我的个人信息</a><br>
            <a href="/houtai/">后台</a><br>
    {% endif %}


            <p style="color: #6f5858;text-align: center">{{ msg1 }}</p>
            <p style="color: #6f5858;text-align: center">{{ MSG2 }}</p>
    <p style="color: #6f5858;text-align: center">{{ msg3 }}</p>
    <p style="color: #6f5858;text-align: center">{{ msg5 }}</p>



</center>
</body>
</html>